<div class="contact-section">
  <ngx-loading [show]="loadingDetails" [config]="{ fullScreenBackdrop: true }"></ngx-loading>
  <div class="container">
    <span class="offset-md-2 col-md-8 asButton" routerLink="/campaign-list" routerLinkActive="active">back</span>
    <div class="offset-md-3 col-md-6">
      <p>
        Titulo: {{campaignDetail.description}}
      </p>
      <p>
        Mensaje: {{campaignDetail.text}}
      </p>
      <p>
        Fecha de inicio: {{campaignDetail.activation_date}}
      </p>
      <!-- <p>
        Hora de inicio: {{campaignDetail.activation_date}}
      </p>-->
      <div class="form-group" *ngIf="campaignDetail.destinations.length> 0">
        <label for="campaingName">Lista de receptores:</label>
        <app-recipients-list [data]='campaignDetail.destinations'></app-recipients-list>
      </div>
    </div>
  </div>
</div>