.dialog{
    background: gray;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.mat-dialog-content{
    -webkit-box-shadow: none!important;
	-moz-box-shadow: none!important;
	box-shadow: none!important;
}