<div class="contact-section">
  <div class="container">
    <span class="offset-md-2 col-md-8 asButton" routerLink="/home" routerLinkActive="active">back</span>
    <div class="offset-md-3 col-md-6">
      <div id="list1">
        <ul>
          <div *ngFor="let campaign of campaignList">
            <li>
              <span class="asButton" routerLink="/campaign-detail/1/{{campaign.id}}" routerLinkActive="active">{{campaign.description}}</span>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>