@import "~ng-pick-datetime/assets/style/picker.min.css";
body{
	background: seagreen; /* fallback for old browsers */
}

.detailDialog {
    background: transparent!important;
}
.mat-dialog-container{
	align-content: center;
	background: seagreen;
}