<div id="contact">
<div class="section-content">
  <h1 class="section-header">Envio masivo
    <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> whatsapp</span>
  </h1>
  <h3>Ingrese los datos</h3>
</div>
<div class="contact-section">
  <div class="container">
    <form>
      <div class="offset-md-3 col-md-6">
        <div class="form-group">
          <label for="description">Mensaje</label>
          <textarea class="form-control" id="description" placeholder="Ingrese el mensaje"></textarea>
        </div>
        <div>
          <button type="button" class="btn btn-default submit" onclick="javascript:alert('enviado')">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>Enviar Mensaje</button>
        </div>
      </div>
    </form>
  </div>
</div>